@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-default {
    background-color: aqua;
    border-color: purple;
}

.navbar-default .navbar-nav > li > a {
    color: blue;
}

body{
  // choose the background color you prefer for the whole webste
  background-color: pink;  
}
